$dark-gray: #3f3f3f
$gw-dark-blue: #003478
$gw-light-blue: #0073cf

@import '../template/mixins'
@import '../template/settings'

$backgroundColor: #fff
$mainFont: 'Lato', sans-serif
$mainFontSize: 36px
$mainColor: #000
$selectionColor: #fff
$selectionBackgroundColor: lighten($gw-light-blue, 40%)

$blockMargin: 20px
$headingFont: 'News Cycle', Impact, sans-serif
$headingColor: #000
$headingLineHeight: .9em
$headingLetterSpacing: .02em
$headingTextTransform: none
$headingTextShadow: none
$headingFontWeight: normal
$heading1TextShadow: 0 0 6px rgba(0, 0, 0, .2)

$linkColor: $gw-dark-blue
$linkColorHover: $gw-light-blue

@import '../template/theme'

@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700')
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')

=fade($num, $fade-time, $visible-time)
  $percentage-per-second: 100 / (($fade-time + $visible-time) * $num)

  @keyframes fade-#{$num}
    0%
      opacity: 0

    #{$percentage-per-second * $fade-time}%
      opacity: 1

    #{$percentage-per-second * ($fade-time + $visible-time)}%
      opacity: 1

    #{$percentage-per-second * ($fade-time + $visible-time + $fade-time)}%
      opacity: 0

    100%
      opacity: 0

  animation-duration: (($fade-time + $visible-time) * $num) + s
  animation-iteration-count: infinite
  animation-name: fade-#{$num}
  animation-timing-function: ease-in-out

  @for $i from 1 through $num
    &:nth-child(#{$i})
      animation-delay: ($fade-time + $visible-time) * ($i - 1) * 1s
      opacity: 0

.reveal
  &.overview
    .slides
      section
        &.present
          outline-color: $gw-light-blue

  h2
    margin-bottom: .5em

  h3
    line-height: inherit

  a
    transition-duration: .5s

    &:hover
      img
        background: rgba(255, 255, 255, .2)
        border-color: $gw-light-blue
        box-shadow: 0 0 20px rgba(0, 0, 0, .55)

  section
    &.image
      padding: 0 !important

      img
        margin: 0
        min-width: 100%

    img
      background: none
      border: 0
      box-shadow: none
      transition: box-shadow .5s ease

  .twitter-video
    margin: 10px auto !important

  code,
  pre
    font-family: Menlo, Monaco, Consolas, Lucida Console, Courier New, monospace
    font-size: .92em
    line-height: 2.4rem

  code
    $color: #f0efe8
    border: 1px solid darken($color, 20%)
    border-radius: 3px
    padding: .05em .1em
    background-color: $color

  p
    code
      display: inline-block

  pre
    background-color: $dark-gray
    color: $backgroundColor
    overflow: auto
    padding: 15px
    width: auto
    word-wrap: normal

    .highlight
      text-shadow: 0 0 10px $gw-light-blue, 0 0 10px $gw-light-blue, 0 0 10px $gw-light-blue, 0 0 10px $gw-light-blue, 0 0 10px $gw-light-blue, 0 0 10px $gw-light-blue

    a
      color: $backgroundColor

  blockquote
    margin-top: 3em
    text-align: left
    width: 80%

  .cross-fade
    height: 500px
    position: relative
    width: 100%

    %fade
      bottom: 0
      left: 0
      margin: auto
      position: absolute
      right: 0
      top: 0

    @for $i from 2 through 3
      &.fade-#{$i} > *
        @extend %fade
        +fade($num: $i, $fade-time: 1, $visible-time: 15)

  .inline-images
    img
      height: 1em
      margin: 0
      vertical-align: bottom

    a
      &:hover
        img
          box-shadow: none

